*{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}
body{
	background: #2c3e50;
}

/* TEXT */
a{
	color: #fff;
	text-decoration: none;
}

/* HEADER */
header{
	align-items: center;
	background: #222;
	border: 1px solid #080808;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	height: 50px;
	margin-bottom: 5px;
	padding: 0 15px;
	width: 100%;
}
.headerlogo{
	margin-right: 20px;
}
header img{
	height: 20px;
	width: auto;
}
nav, .SFAP{
	align-items: center;
	display: flex;
}
ul{
	align-items: center;
	display: flex;
	list-style: none;
}
header nav li{
	float: left;
}
header ul li:hover{
	background: #3bc143;
}
header a{
	color: inherit;
}
header li{
	font-size: 14px;
	font-weight: bold;
	margin: 0 15px;
}
.SFAP{
	position: absolute;
	right: 0;
}
.underline{
	text-decoration: underline #3bc143;
}
.channel{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: black;
	height: 34px;
	width: 200px;
}

/* NAVIGATION - 'Back', prikker, 'Next'*/
.navigation{
	align-items: center;
	bottom: 5%;
	display: flex;
	height: 5%;
	position: absolute;
	right: 3%;
	width: 50%;
}
.backnext{
	background: rgba(59, 193, 67, 0.80);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 100%;
	width: 25%;
}
.navdots{
	align-items: center;
	display: flex;
	height: 75%;
	justify-content: space-around;
	margin: 0 10%;
	width: 50%;
}
.navdots a{
	background: lightgrey;
	border-radius: 50%;
	height: 25px;
	width: 25px;
}
.navdots a:hover, .backnext:hover{
	background: #3bc143;
}

/* FOOTER */
