*{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}
body{
	background: #2c3e50;
}

/* TEXT */
a{
	color: #fff;
	text-decoration: none;
}

/* HEADER */
header{
	align-items: center;
	background: #222;
	border: 1px solid #080808;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	height: 50px;
	margin-bottom: 5px;
	padding: 0 15px;
	width: 100%;
}
.headerlogo{
	margin-right: 20px;
}
header img{
	height: 20px;
	width: auto;
}
/* navigation */
nav{
	align-items: center;
	display: flex;
}
ul{
	align-items: center;
	display: flex;
	list-style: none;
}
header nav li{
	float: left;
}
header ul li:hover{
	background: #3bc143;
}
header a{
	color: inherit;
}
header li{
	font-size: 14px;
	font-weight: bold;
	margin: 0 15px;
}
#SFAP{
	position: absolute;
	right: 0;
}
.underline{
	text-decoration: underline #3bc143;
}
#channel{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: black;
	height: 34px;
	width: 200px;
}
/* burgermenu */
#burgermenu{
	display: none;
}

/* LEFT & RIGHT*/
section{
	display: flex;
}
#left, #right{
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 5%;
}
/* left */
#left{
	width: 40%;
	display: flex;
  align-items: flex-end;
	flex-direction: column;
}
h2{
}

#container {
  overflow-y: scroll;
  background: white;
  display: block;
  width: 100%;
  height: 30%;
	flex: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  height: 12%;
  background: grey;
  padding: 1.5%;

}
#submitbutton{
  position: absolute;
  top: 66%;
  width: 5%;
  height: 5%;

}

/*venstre side af skærmen*/

.click-box{
  text-decoration: none;
}
.box:hover{
  background-color: #fff;
  transition: 0.3s;
}

/*preview css*/

.row{
  display: flex;
}
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  width: 2rem;
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* right */
#right{
	width: 60%;
	display: flex;
  align-items: flex-end;
}
/* The expanding image container (positioning is needed to position the close button and the text) */
.containerpreview {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.preview{
	display: flex;
	justify-content: center;
	background: #fff;
	width: 100%;
	/*background: #fff;
	height: auto;
	margin: 50px 0;
	padding-top: 56.25%;
	width: 90%;*/
}
.imgratio{
	width: 56.25%;
}
/* NAVIGATION - 'Back', prikker, 'Next'*/
#navigation{
	align-items: center;
	bottom: 5%;
	display: flex;
	height: 5%;
	position: absolute;
	right: 5%;
	width: 50%;
}
.backnext{
	background: rgba(59, 193, 67, 0.80);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 100%;
	width: 25%;
}
#navdots{
	align-items: center;
	display: flex;
	height: 75%;
	justify-content: space-around;
	margin: 0 10%;
	width: 50%;
}
#dot1, #dot2, #dot3, #dot4{}
.dot{
	background: #fff;
	border: 0.25px solid #3bc143;
	border-radius: 50%;
	height: 25px;
	width: 25px;
}
.dot:hover, .backnext:hover{
	background: #3bc143;
}
.dotafter{
	background: rgba(59, 193, 67, 0.50);
}
.dotactive{
	background: #3bc143;;
}

/* FOOTER */

/* RESPONSIVE */
/* burgermenu - 767px */
@media screen and (max-width: 767px){
	#burgermenu{
		align-items: center;
		background: inherit;
		border: 1px solid #333;
		display: flex;
		height: 28px;
		justify-content: center;
		margin: 10px;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
		width: 44px;
	}
	#burgermenu img{
		height: 30px;
		position: absolute;
		width: auto;
	}
	#burgermenu:hover{
		background: #3bc143;
	}
	#TRVFSS, #SFAP{
		align-items: flex-start;
		background: #222;
		display: none;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 50px;
		width: 100%;
		z-index: 1000;
	}
	#SFAP{
		top: 300px;
	}
	#TRVFSS li, #SFAP li{
		margin: 10px;
	}
	#user{
		border: 1px solid #333;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}
