*{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}
body{
	background: #2c3e50;
}

/* TEXT */
a{
	color: #fff;
	text-decoration: none;
}

/* HEADER */
header{
	align-items: center;
	background: #222;
	border: 1px solid #080808;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	height: 50px;
	margin-bottom: 5px;
	padding: 0 15px;
	width: 100%;
}
.headerlogo{
	margin-right: 20px;
}
header img{
	height: 20px;
	width: auto;
}
/* navigation */
nav{
	align-items: center;
	display: flex;
}
ul{
	align-items: center;
	display: flex;
	list-style: none;
}
header nav li{
	float: left;
}
header ul li:hover{
	background: #3bc143;
}
header a{
	color: inherit;
}
header li{
	font-size: 14px;
	font-weight: bold;
	margin: 0 15px;
}
#SFAP{
	position: absolute;
	right: 0;
}
.underline{
	text-decoration: underline #3bc143;
}
#channel{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: black;
	height: 34px;
	width: 200px;
}
/* burgermenu */
#burgermenu{
	display: none;
}

/* LEFT & RIGHT*/
section{
	display: flex;
	height: 100%;
}
#left, #right{
	align-items: center;
	display: flex;
	padding: 5%;
}
/* left */
#left{
	width: 40%;
	display: flex;
  align-items: flex-start;
	flex-direction: column;
	height: 100%;
}
h2{
	font-size: 2em;
	margin-bottom: 5%;
	color: #fff;
}

#container {
  overflow-y: scroll;
	display: block;
  background: #222;
  width: 100%;
  height: 100%;

}
#colourcontainer {
  overflow-y: scroll;
  display: block;
  width: 100%;
  height: 30%;
	flex: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  height: 10%;
  background: white;
  padding: 2.7%;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;

}

/*venstre side af skærmen*/


.box:hover{
  background-color: #5Cb85C;
  transition: 0.3s;
}

/*preview css*/

.row{
  display: flex;
}

/*search Bar*/


.containersearch {
  text-align: center;
	background-color: #2c3e50;

}

#search  {
  font-family: 'arial';
  background-color: rgb(76, 183, 72);
  width: 15px;
  height: 3px;
  padding: 20px;
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  outline: none;
	margin-top: 10px;

}

::placeholder {
		color: white;
	}
#search-btn {
  width: 22px;
  margin: 22px 0 10px 18px;
  position: absolute;
  cursor:pointer;
}

#tip {
  color: white;
  text-transform: uppercase;
  font-size: .6em;
  text-align: left;
  margin-left: 120px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
	background: #fff;
	margin: 2px;
	opacity: 80%;
}

/* Style the images inside the grid */
.column img {
  width: 2rem;
  opacity: 0.8;
  cursor: pointer;
}

.column:hover{
opacity: 100%;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.colourrow{
	display: flex;
}
.colourcolumn{
	width: 50%;
}
.smallcolourpreview{
	width: 90%;
}
/* right */
#right{
	width: 60%;
	display: flex;
  align-items: flex-start;
	justify-content: center;
}
#pregraf{
	display: flex;
	height: auto;
	position: absolute;
	top: 10%;
	width: 100%;
	z-index: 100;
}
.grafpic{
	height: auto;
	margin-left: 8.5%;
	width: 10%;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.containerpreview {
  position: relative;

}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.preview{
	display: flex;
	justify-content: center;
	background: #fff;
	width: 100%;
	height: 80%;
	flex: auto;
	border: solid black 5px;
	align-items: center;
}

.colourpreview{
	display: flex;
	justify-content: center;
	width: 100%;
}

.imgratio{
	width: 56.25%;
}
.colourimgratio{
	width: 100%;
}
/*centered*/
.centered{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	padding: 5%;
}
.previewtext{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.finalpreview{
	max-width: 50%;
	padding-top: 2rem;
}
/* FOOTER */
footer{
	align-items: center;
	bottom: 0;
	display: flex;
	height: 100px;
	justify-content: center;
	margin-top: 30px;
	position: absolute;
	width: 100%;
}
/* NAVIGATION - 'Back', prikker, 'Next'*/
#navigation{
	align-items: center;
	display: flex;
	height: 30px;
	justify-content: center;
	width: 50%;
}
.backnext{
	background: rgba(59, 193, 67, 0.80);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 100%;
	width: 15%;
}
#navdots{
	align-items: center;
	display: flex;
	height: 75%;
	justify-content: space-evenly;
	margin: 0 10px;
	width: 50%;
}
.dot{
	background: #fff;
	border: 0.25px solid #3bc143;
	border-radius: 50%;
	height: 25px;
	width: 25px;
}
.dot:hover, .backnext:hover{
	background: #3bc143;
}
.dotafter{
	background: rgba(59, 193, 67, 0.50);
}
.dotactive{
	background: #3bc143;;
}

/* RESPONSIVE */
/* burgermenu - 767px */
@media screen and (max-width: 1320px){
	#burgermenu{
		align-items: center;
		background: inherit;
		border: 1px solid #333;
		display: flex;
		height: 28px;
		justify-content: center;
		margin: 10px;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
		width: 44px;
	}
	#burgermenu img{
		height: 30px;
		position: absolute;
		width: auto;
	}
	#burgermenu:hover{
		background: #3bc143;
	}
	#TRVFSS, #SFAP{
		align-items: flex-start;
		background: #222;
		display: none;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 50px;
		width: 100%;
		z-index: 1000;
	}
	#SFAP{
		top: 300px;
	}
	#TRVFSS li, #SFAP li{
		margin: 10px;
	}
	#user{
		border: 1px solid #333;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}

/* burgermenu - 767px */
@media screen and (max-width: 1050px){
	section{
		align-items: center;
		flex-direction: column;
	}
	footer{
		position: relative;
	}
}
