*{
  margin: 0px;
  padding: 0px;
}

html, body{
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-family: arial, helvetica, sans-serif;
}


/*page 1*/

                    /*navbar*/

nav{
  height: 10%;
  background-color: #333;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;

  list-style: none;
  height: 100%;
  width: 50%;
}

.other{
  text-decoration: none;
  font-size: 1.5em;
  color: #00cc00;
  text-transform: uppercase;
}

.icons{
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}

.nav-links a:hover{
  color: white;

}

/*når skærmen bliver for small*/


@media screen and (max-width: 1300px){

  .line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav{
    position: relative;
  }

.hamburger{
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
}

.nav-links{
  position: fixed;
  background: #333;
  height: 100%;
  width: 100%;
  flex-direction: column;

    /*mask*/
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(1500px at 90% -10%);
  transition: all 1.5s ease-out;
  pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }

}

/*landing page (1)*/

.landing   {
  height: auto;
  display: flex;
  justify-content: center
}

.colorhead {
  display: flex;
  font-size: 50px;
  margin-bottom: 2%;
  text-transform: uppercase;
  padding: 50px;
  justify-content: center;

}

/*content*/
.underoverskrift{
  text-align: center;
  font-weight:  30;
}

#firstrow{
display: flex;
justify-content: space-between;
width: auto;
height: 15%;
width: 30%;
margin: auto;
margin-top: 2%;
margin-bottom: 4%;
}

.iconrow  {
  height: 80%;
  margin: auto;
}

.linktilicons{
  text-decoration: none;
  font-weight: 30;
  display: block;
  width: 10%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 2%;
}

#secondrow{
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 15%;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  background: #333;
}


/*prikker, back next*/

#thirdrow {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 5%;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #333;
  padding: 5%;
}



.navigation{
  position: absolute;
	display: flex;
  justify-content: flex-end;
	height: 5%;
	width: 50%;
}
.backnext{
  text-decoration: none;
	background: rgba(59, 193, 67, 0.80);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 100%;
	width: 25%;
}
.navdots{
	align-items: center;
	display: flex;
	height: 75%;
	justify-content: space-around;
	margin: 0 10%;
	width: 50%;
}
.navdots a{
	background: lightgrey;
	border-radius: 50%;
	height: 25px;
	width: 25px;
}
.navdots a:hover, .backnext:hover{
	background: #3bc143;
}
